name: build

on:
  workflow_call:

permissions:
  contents: write

jobs:
  build_wheels:
    name: python ${{ matrix.python }} on ${{ matrix.platform[1] }}
    runs-on: ${{ matrix.platform[0] }}
    strategy:
      matrix:
        python: 
          - "cp310"
          - "cp311" 
          - "cp312" 
          - "cp313"
          - "cp314"
        platform:
          - [windows-11-arm, win_arm64]
        
    steps:
      - uses: actions/checkout@v6

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.3.1
        env:
          CIBW_BUILD: ${{ matrix.python }}-${{ matrix.platform[1] }}

      - uses: actions/upload-artifact@v6
        with:
          name: rockblock-9704-${{ matrix.python }}-${{ matrix.platform[1] }}
          path: wheelhouse/*
          retention-days: 3
          overwrite: true
